@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
    --fonte-principal: "DM Sans", sans-serif;
    --cor-background: linear-gradient(180deg, #0F103F 0%, #202066 48.44%, #08082c 100%);
    --cor-da-fonte: #FFFFFF;
    --degrade-btn-1: rgba(255, 255, 255, 0.3);
    --degrade-btn-2: linear-gradient(107.21deg, #C961DE 24.43%, #2954A3 68.95%);
    --degrade-background-da-fonte: linear-gradient(90deg, #C961DE 10%, #c16cec 35%, #3F56AB 53%, #6b95e9 90%);
    --hover-btn: #102e67;
}

body {
    background: var(--cor-background);
}

.container__banner {
    height: 80vh;
    background-image: url("/assets/Ilustracao\ banner\ top.svg");
    background-size: 17%;
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: top;
}

.banner__conteudo {
    height: 80vh;
    background-image: url("/assets/Ilustracao\ banner\ button.svg");
    background-size: 26%;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;


    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    gap: 3.5vh;

    color: var(--cor-da-fonte);
    font-family: var(--fonte-principal);
    text-align: center;
}

.banner__titulo {
    font-size: 1.5em;
}

.banner__subtitulo, .link__entre-em-contato {
    font-size: 3em;
    font-weight: bold;
    text-transform: uppercase;

    background: var(--degrade-background-da-fonte);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.banner__skills, .banner__btn  {
    display: flex;
    flex-direction: row;
    justify-content: center;

    align-items: center;
    padding: 10px;
    gap: 2em;
}


.banner__skills {
    font-size: 0.8em;
}

.skills__bigode {
    font-size: 3.5em;
    font-weight: 200;
}

.skills__icon {
    max-width: 3.7em;
    padding-bottom: 0.8em;
}

.btn_1,
.btn_2 {
    background: var(--degrade-btn-1);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(11.5757px);

    width: 200px;
    height: 50px;
    border-radius: 30px;
    align-content: center;

    color: var(--cor-da-fonte);
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-family: var(--fonte-principal);
}

.btn_1:hover {
    background: var(--hover-btn);
}

.btn_2 {
    background: var(--degrade-btn-2);
    box-shadow: 0px 10px 20px rgba(8, 12, 33, 0.15);
}

.btn_2:hover {
    background: var(--hover-btn);
}

.container__sobre {
    height: 100vh;
    background-image: url("/assets/Ilustracao\ sobre\ mim.svg");
    background-size: 130vh;
    background-repeat: no-repeat;
    background-position: center;
    align-content: center;

    color: var(--cor-da-fonte);
    font-family: var(--fonte-principal);
    font-size: 1em;
    font-weight: 500;
    line-height: 2em;
    padding: 0 36.5vw 35vh 36.5vw;
    margin-top: -17vh;
}

.sobre__astronauta-img {
    width: 8vh;
    padding: 0 0 5vh 10.5vw;
}

.subtitulo__sobre {
    font-size: 1.5em;
    line-height: 1.5em;
}

.subtitulo {
    font-size: 2em;
    line-height: 1.5em;
}

.paragrafo {
    padding-top: 1em;
}

.container__projetos {
    height: 100vh;
    background-image: url("/assets/Ilustracao\ projetos.svg");
    background-size: 70vw;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 8vh;
    gap: 5vh;
}

.projetos__lista {
    height: 53vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--fonte-principal);
}

.projeto,
.projeto__centro {
    height: 40vh;
    width: 21vw;
    background: rgba(255, 255, 255, 0.42);
    backdrop-filter: blur(10px);
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.62);

    text-align: center;
}

.projeto__centro {
    background: rgba(181, 249, 253, 0.42);
    height: 47vh;
    width: 30vw;
    margin: -3%;
    z-index: 100;
}

.projeto__imagem {
    width: 19vw;
    border-radius: 15px;
    margin-top: 1em;
}

.imagem__centro {
    margin-top: 1em;
    width: 27vw;
    border-radius: 30px;
}

.projeto__conteudo {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 0px 0px 30px 30px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 16vh;
    padding-bottom: 1vh;

    text-align: center;
    align-content: center;
    color: var(--cor-da-fonte);
    font-size: 2em;
    text-transform: capitalize;
}

.container__titulo__centro {
    height: 17vh;
    padding-bottom: 0;
}

.lista__tecnologias {
    display: flex;
    justify-content: center;
    padding: 3% 0;
    gap: 5%;
}

.tecnologias__imagem {
    max-width: 26px;
}

.projeto__btn {
    height: 3vh;
}

.btn__center {
    height: 5vh;
}

.btn__confira {
    font-size: 15px;
    padding: 5px 25px;
    margin: 0 5px;
}

.projetos__seta {
    font-size: 10em;
    color: rgba(255, 255, 255, 0.42);
    padding: 0 17px;
    cursor: pointer;
    z-index: 1;
}

.projetos__seta:hover {
    color: rgba(255, 255, 255, 0.62);
}

.projetos__btn {
    padding: 1em 2em;
}

.contato__planet, .contato__planet__hover {
    position: fixed;
    filter: blur(1px);
    top: 60%;
    width: 17vw;
    z-index: 0;
    cursor: pointer;
}

.contato__planet__hover {
    opacity: 0;
}

.contato__planet__hover:hover {
    opacity: 1;
    filter: blur(0px);
    z-index: 3;
}

.contato__planet:hover {
    opacity: 0;
}

.container__contato {
    height: 100vh;
    background-image: url("/assets/Ilustracao\ footer\ r.svg");
    background-size: 120vh;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contato__box {
    background: rgba(47, 47, 138, 0.6);
    backdrop-filter: blur(30%);
    border: 3px solid #fff;
    border-radius: 30px;
    height: 50vh;
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: start;
}

.contato__astronauta-img{
    width: 10vw;
    margin: -17% -10% 0 0;
}

.contato__conteudo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;

    color: var(--cor-da-fonte);
    font-family: var(--fonte-principal);
}

.link__icone {
    width: 80px;
}

.link__whatsapp, .link__email{
    display: flex;
    justify-content: row;
    align-items: center;
    padding-top: 10%;
    gap: 2em;
}

.contato__link, .social__titulo {
    font-size: 2em;
    font-weight: 300;
    padding-left: 0 0 1em;
    text-decoration: none;
    color: var(--cor-da-fonte);
}

.social__titulo {
    font-weight: bold;
    text-transform: uppercase;
}

.social__icon {
    display: flex;
    gap: 17px;
}

.social__link:hover {
    filter: blur(1px);
    cursor: pointer;
}

.contato__social {
    display: flex;
    gap: 2em;
    padding-top: 2em;
}

.contato__titulo {}

.social__link {}

.container__footer {}

.parafrago__footer {
    font-family: var(--fonte-principal);
    color: var(--cor-da-fonte);
    font-size: 1em;
    text-align: center;
    padding: 2vh 0;
    background-color: #19135E;
    border-top: 1px solid var(--cor-da-fonte);
}

/* .container__menu {
    height: 40vh;
    background: #1c1c65a1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */