@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
    --fonte-principal: "DM Sans", sans-serif;
    --cor-background: #0F103F;
    --cor-da-fonte: #FFFFFF;
    --degrade-btn-1: rgba(255, 255, 255, 0.3);
    --degrade-btn-2: linear-gradient(107.21deg, #C961DE 24.43%, #2954A3 68.95%);
    --hover-btn: #102e67;
}

body {
    background-color: var(--cor-background);
}

.container__banner {
    height: 80vh;
    background-image: url("/assets/Ilustracao\ banner\ top.svg");
    background-size: 17%;
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: top;
}

.banner__conteudo {
    height: 80vh;
    background-image: url("/assets/Ilustracao\ banner\ button.svg");
    background-size: 26%;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;


    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    gap: 2vh;

    color: var(--cor-da-fonte);
    font-family: var(--fonte-principal);
    text-align: center;
}

.banner__titulo {
    font-size: 1.5em;
}

.banner__subtitulo {
    font-size: 3em;
}

.banner__btn {
    display: flex;
    flex-direction: row;
    justify-content: center;

    align-items: center;
    padding: 10px;
    gap: 35px;
}

.btn_1,
.btn_2 {
    background: var(--degrade-btn-1);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(11.5757px);

    width: 200px;
    height: 50px;
    border-radius: 30px;
    align-content: center;

    color: var(--cor-da-fonte);
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-family: var(--fonte-principal);
}

.btn_1:hover {
    background: var(--hover-btn);
}

.btn_2 {
    background: var(--degrade-btn-2);
    box-shadow: 0px 10px 20px rgba(8, 12, 33, 0.15);
}

.btn_2:hover {
    background: var(--hover-btn);
}

.container__sobre {
    height: 100vh;
    background-image: url("/assets/Ilustracao\ sobre\ mim.svg");
    background-size: 130vh;
    background-repeat: no-repeat;
    background-position: center;
    align-content: center;

    color: var(--cor-da-fonte);
    font-family: var(--fonte-principal);
    font-size: 0.9em;
    line-height: 2em;
    padding: 0 36.5vw 15vh 36.5vw;
}

.subtitulo__sobre {
    font-size: 1.5em;
    line-height: 1.5em;
}

.subtitulo {
    font-size: 2em;
    line-height: 1.5em;
}

.paragrafo {
    padding-top: 1em;
}

.container__projetos {
    height: 100vh;
    background-image: url("/assets/Ilustracao\ projetos.svg");
    background-size: 70vw;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 8vh;
    gap: 5vh;
}

.projetos__lista {
    height: 53vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--fonte-principal);
}

.projeto, .projeto__centro {
    height: 40vh;
    width: 21vw;
    background: rgba(255, 255, 255, 0.42);
    backdrop-filter: blur(10px);
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.62);

    text-align: center;
}

.projeto__centro {
    background: rgba(181, 249, 253, 0.42);
    height: 47vh;
    width: 30vw;
    margin: -3%;
    z-index: 100;
}

.projeto__imagem {
    width: 19vw;
    border-radius: 15px;
    margin-top: 1em;
}

.imagem__centro {
    margin-top: 1em;
    width: 27vw;
    border-radius: 30px;
}

.projeto__titulo {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 0px 0px 30px 30px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 16vh;
    padding-bottom: 1vh;

    text-align: center;
    align-content: center;
    color: var(--cor-da-fonte);
    font-size: 2em;
    text-transform: capitalize;
}

.container__titulo__centro {
    height: 17vh;
    padding-bottom: 0;
}

.lista__tecnologias {
    display: flex;
    justify-content: center;
    padding: 3% 0;
    gap: 5%;
}

.tecnologias__imagem {
    max-width: 26px;
}

.projeto__btn {
    height: 3vh;
}

.btn__center {
    height: 5vh;
}

.btn__confira {
    font-size: 15px;
    padding: 5px 25px;
    margin: 0 5px;
}

.projetos__seta {
    font-size: 10em;
    color: rgba(255, 255, 255, 0.42);
    padding: 0 17px;
    cursor: pointer;
}

.projetos__seta:hover {
    color: rgba(255, 255, 255, 0.62);
}

.projetos__btn {
    padding: 1em 2em;
}
